<section ng-controller="DealsController" ng-init="find()">
  <div class="page-header">
    <h1>Deals</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="deal in deals" ui-sref="deals.view({dealId: deal._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="deal.created | date:'mediumDate'"></span>
        by
        <span ng-bind="deal.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="deal.title"></h4>
      <p class="list-group-item-text" ng-bind="deal.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="deals.$resolved && !deals.length">
    No deals yet, why don't you <a ui-sref="deals.create">create one</a>?
  </div>
</section>
